<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style type="text/css" media="screen">
    h3 { color: #428bca; }
    h1 {display: inline;}
    .content {color: #3c763d; }
  </style>
</head>
<body>
<h3>Your daily random quote is below</h3>
<p class="content">
  <h1>"</h1><%=  @content %>
</p>
<br>
<p><%= link_to 'Unsubscribe', subscriber_with_token_url(email: @email, token: @token), :method => :delete, :only_path => false %> if you do not wish to receive these emails in the future.</p>
</body>
</html>