<%= form_for @subscriber do |f| %>
  <div class="form-group">
    <div class="container">
      <div class="row">
    <span class="col-lg-offset-4 col-lg-3 col-centered text-center no-left-right-pad">
      <%= f.text_field :email, :class => 'form-control', :placeholder => 'Your e-mail'%>
      </span>
    <span class="input-group-btn col-lg-6 text-center no-left-right-pad">
      <%= f.submit 'Yes, subscribe!', :class => 'btn btn-primary' %>
      </span>
      </div>
    </div>
  </div>
<% end %>
