<%- model_class = Subscriber -%>

<div class="text-center daily-header">
  Let's get your daily randomness!
</div>

<div class="container">
  <div class="row row-centered">
    <%= render :partial => 'form' %>
  </div>
  <p class="text-muted footer"><i class="fa fa-random"></i> Randomly made by <%=link_to 'James Lopez', 'http://jameslopez.es' %>.</p>
</div>